body{ 
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    background-color: black;
    color: white;
    padding: 10px;
}

.header-wrapper > .logo img {
    height: 45px;
    width: 180px;
}

.header-wrapper > .navbar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.header-wrapper > .navbar-wrapper > .explore {
    color: gold;
}

.header-wrapper > .navbar-wrapper > .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper > .navbar-wrapper > .navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    word-spacing: 20px;
}

.header-wrapper > .search-bar-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    background-color: #484848;
    color: white;
    font-size: 15px;
    border: transparent;
    border-radius: 3px;
    padding: 15px 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.header-wrapper > .search-bar-wrapper i {
    color: #3cb371;
}

.header-wrapper > .search-bar-wrapper > .search-icon i {
    color: #484848;
    font-size: 30px;
}

.content-wrapper {
    display: flex;
    background-image: linear-gradient(to bottom right, #505050, black);
    color: white;
}
.content-wrapper > .text-column {
    font-size: 35px;
    word-spacing: 2px;
    padding: 40px;
}

.content-wrapper > .text-column p2 {
    font-size: 28px;
}

.content-wrapper > .text-column span {
    font-weight: bold;
}

.content-wrapper > .text-column > .spacer {
    height: 40px;
}

.content-wrapper > .text-column > .text-buttons {
    display: flex;
}

.btn1 {
    background-color: #3cb371;
    color: black;
    border: transparent;
    border-radius: 3px;
    padding: 20px 15px;
    font-size: 28px;
    font-weight: bold;
    margin-right: 15px;
}

.btn2 {
    background-color: black;
    color: white;
    border: transparent;
    border-radius: 3px;
    padding: 20px 15px;
    font-size: 28px;
    font-weight: bold;
}

.content-wrapper > .image-column {
    padding-top: 20px;
    padding-right: 0px;
}

.content-wrapper > .image-column span {
    color: #87cefa;
}

.content-wrapper > .image-column img {
    width: 550px;
    height: 550px;
}

.footer-wrapper {
    display: flex;
    height: 60px;
}

.footer-wrapper > .column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #484848;
    color: white;
    border: 1px solid white;
}

.footer-wrapper > .column span {
    font-weight: bold;
}

.spacer1 {
    height: 80px;
    background-color: black;
}
